In [1]:
library(RPostgreSQL)
library(tidyverse)

Loading required package: DBI
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.8.0     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
data_dir <- file.path("..", "data")
sql_dir <- file.path("..", "sql")

In [3]:
drv <- dbDriver("PostgreSQL")
con <- dbConnect(drv, dbname = "mimic")
dbSendQuery(con, "set search_path=echo,public,mimiciii;")

In [4]:
full_data <- dbGetQuery(con, "select * from merged_data")
head(full_data)

  icustay_id hadm_id subject_id first_careunit intime
1 228416     159895   5491      MICU           2151-06-29 01:18:27
2 278148     169700  49395      MICU           2197-01-09 00:45:42
3 274174     103722  14855      MICU           2181-09-08 23:43:13
4 214954     170515  54642      MICU           2176-03-11 04:58:23
5 222457     183493  96815      MICU           2105-06-04 20:57:55
6 264413     134244  81436      MICU           2133-03-27 16:31:37
  outtime             angus age      icu_order echo_time  ⋯ lab_sodium_flag
1 2151-07-27 16:00:56 1     76.58225 1         2151-06-30 ⋯ 1
2 2197-01-10 06:46:29 1     82.72606 1         <NA>       ⋯ 1
3 2181-09-26 16:52:02 1     61.84390 1         2181-09-11 ⋯ 1
4 2176-03-15 18:00:48 1     63.86507 1         2176-03-11 ⋯ 1
5 2105-06-06 20:01:51 1     62.84018 1         <NA>       ⋯ 1
6 2133-04-04 16:15:28 1     62.60148 1         2133-03-31 ⋯ 1
  lab_bun_flag lab_bicarbonate_flag lab_bnp_flag lab_pco2_flag
1 1            1                    0            1
2 1            1                    0            0
3 1            1                    0            1
4 1            1                    0            1
5 1            1                    0            0
6 1            1                    0            0
  lab_creatinine_flag lab_potassium_flag lab_troponin_flag lab_po2_flag
1 1                   1                  0                 1
2 1                   1                  0                 0
3 1                   1                  0                 1
4 1                   1                  1                 1
5 1                   1                  0                 0
6 1                   1                  0                 0
  lab_lactate_flag
1 1
2 0
3 1
4 1
5 0
6 1

In [5]:
dbDisconnect(con)
dbUnloadDriver(drv)

[1] TRUE

[1] TRUE

In [6]:
missing <- full_data %>%
select(grep("flag", names(.), value = TRUE)) %>%
summarise_all(funs((1 - sum(.) / n()) * 100)) %>%
gather("cov", "na") %>%
mutate(cov = str_replace_all(cov, "_", " ")) %>%
mutate(cov = str_replace_all(cov, "lab|vs|flag|icd|first", "")) %>%
mutate(cov = str_replace_all(cov, "\\s+$|^\\s+", "")) %>%
mutate(cov = tools::toTitleCase(cov))

missing

   cov               na
1  Heart Rate         1.210501
2  Cvp               64.486716
3  Map                1.210501
4  Temp               1.556359
5  Hemoglobin         4.008804
6  Platelet           4.087408
7  Creatinine Kinase 51.454174
8  Wbc                4.134570
9  Ph                30.529791
10 Chloride           2.641094
11 Sodium             2.578211
12 Bun                2.845465
13 Bicarbonate        2.892627
14 Bnp               97.154535
15 Pco2              33.092281
16 Creatinine         2.829744
17 Potassium          2.373841
18 Troponin          69.187235
19 Po2               33.092281
20 Lactate           38.232982